<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://attendanceportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>attendanceportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>attendanceportal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$attendanceportal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AttendanceSystemConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=priyankaprojects.database.windows.net;Initial Catalog=AttendanceSystem;User ID=priyanka;Password=sivapriyA5" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=priyankaprojects.database.windows.net;Initial Catalog=AttendanceSystem;User ID=priyanka;Password=sivapriyA5" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttendanceSystemConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=priyankaprojects.database.windows.net;Initial Catalog=AttendanceSystem;User ID=priyanka;Password=sivapriyA5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttendanceSystemConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=priyankaprojects.database.windows.net;Initial Catalog=AttendanceSystem;User ID=priyanka;Password=sivapriyA5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>